body {
  background-color: #282d31;
}

h1,h2,h3,p,p2 {
  color: #F5F1F1;
}
p2{
  font-size: medium;
}

h3 {
  font-size: medium;
}

#intro {
  text-align: center;
  border: 5px solid #90A8BC;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  background-color: #a4a0b5;
  
}
#intro img {
  max-width: 100%;
  height: auto;
}

#intro>.row>div {
  background-color: #90A8BC;
  padding: 10px;
}

#projects {
  text-align: center;
  border: 5px solid #90A8BC;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  background-color: #a4a0b5;
}

#projects .col-md-6 {
  background-color: #90A8BC;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

#projects .col-md-3 {
  background-color: #90A8BC;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}


#projects-banner {
  text-align: center;
  border: 5px solid #90A8BC;
  padding: 20px;
  width: 100%;
  margin: 20px auto;
  background-color: #a4a0b5;
}

#banner .col-12 {
  background-color: #90A8BC;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

#projects-banner h2 {
  font-size: 30px;
}

#projects img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

#projects img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#bio{
  background-color: #90A8BC;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
#video {
  background-color: #90A8BC;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#video video {
  width: 50%;
  height: auto;
}
#photo-2{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-size{
  margin:1rem;
  width:100px;
}

.image-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#skills {
  text-align: center;
  border: 5px solid #90A8BC;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  background-color: #a4a0b5;
}

#skills .col-md-2 {
  background-color: #90A8BC;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}